@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
/* work sans font */
.work-sans-font {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
/* shared styles */
.display-flex{
    display: flex;
}
.dark1{
    color: #131313;
}
.dark2{
    color: #424242;
}
.dark3{
    color: #727272;
}
.orange{
    color: #FF900E;
}
.section-title{
    font-size: 2.8rem;
    font-weight: bold;
}
.section-description{
    font-size: 1rem;
    font-weight: 400;
    color: #727272;
}
/* primary bg */
.primary-bg{
    background-color: rgba(255, 144, 14, 0.1);
}
.btn-primary{
    background-color: #FF900E;
    color: white;
    padding: 20px 25px;
    font-size: 1.25rem;
    font-weight: 600;
    border-radius: 8px;
    border: none;
}
main{
    max-width: 1440px;
    margin: 0 auto;
}
main> section{
    margin-top: 130px;
}
.teams{
    align-items: center;
}
/* header styles */

/* navbar related styles */
.brand{
    font-size: 3rem;
}
.navbar{
    justify-content: space-between;
    align-items: center;
}
.navbar, .banner{
    max-width: 1440px;
    margin: 0 auto;
}
/* .nav-items{

} */
.nav-list{
    list-style: none;
    margin-right: 30px; 
}
.nav-link{
    text-decoration: none;
}
/* banner related styles */
.banner-content{
    max-width: 850px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 50px;
}
.banner-title{
    font-size: 4rem;
    font-weight: 700;
}
.banner-image{
    width: 100%;
}
/* team and feature related styles */
.teams{
    align-items: center;
}
.teams-img-container{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 24px;
}
.team-feature-container{
    margin-left: 80px;
    max-width: 530px;
}
.Quick-list{
    font-weight: 600;
}
/* features style section begins here*/
.features{
    gap: 8.75rem;
}
#section-heading-sign{
    border-left: 5px solid #FF900E;
}
.section-title{
    padding-left: 1.27rem;
}
.section-details>.section-heading{
    color: #131313;
    font-size: 1.25rem;
    font-weight: 600;
}
.section{
    padding: 1.88rem;
    margin-top: 1.25rem;
    border-radius: 8px;
    box-shadow: 0 4px 30px 0 rgba(0, 0, 0, 0.06);

}
/* some facts section starts here */
.facts-container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}
.fact-content{
    border: 1px solid #FF900E;
    height: 240px;
    width: 240px;
    border-radius: 8px;
    text-align: center;
    align-items: center;
    justify-content: center;
}
.fact-number{
    font-size: 2.8rem;
    font-weight: 600;
    margin-top: 5px;
    margin-bottom: 10px;
}
.fact-name{
    font-size: 1.25rem;
    font-weight: 600;
}
.fact-description{
    max-width: 540px;
}
/* our sponchor sections starts here */
.sponchor-info{
    max-width: 540px;
    margin: 50px auto;
    text-align: center;
}
.sponchors-container{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
}
.sponchors-container img{
    filter: grayscale(100%);
}
/* responsive media query for small devices*/
@media screen and (max-width:576px) {
    .navbar,
    .nav-items, 
    .teams{
        flex-direction: column;
    }
    .facts-container{
        justify-items: center;
    }
    .teams-img-container, 
    .facts-container,
    .sponchors-container {
        grid-template-columns: 1fr;
    }
    .facts-container{
        justify-items: center;
        gap: 24px;
    }
    .sponchors-container{
        justify-items: center;
        gap: 40px;
    }
    /* has given this code in module becoz of .team-feature-container vulbosoto margin-left:130px disilo(deyar chilo 80px)----tai eta extra kora lagse ,ami tkn kheyal korechilam tai amar lageni ----comment kore rakcki*/
    /* .team-feature-container{
        margin-left: 20px;
    } */
}
/* for medium size device */
@media screen and (min-width:576px) and (max-width:992px) {
    .teams{
        flex-direction: column;
    }
    .team-feature-container{
        margin: 50px auto;
    }
    .facts-container, .sponchors-container{
        grid-template-columns: repeat(2, 1fr);
        gap: 40px;
        justify-items: center;
    }
}

